MONGODB_URI = mongodb+srv://mohsinmaken3:76510063Msn@cluster0.epwsfar.mongodb.net
PORT=7000


ACCESS_TOKEN_SECRET= MOHSIN-ACCESS-TOKEN-SECRET
REFRESH_TOKEN_SECRET= MOHSIN-REFRESH-TOKEN-SECRET
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=3d

CLOUDINARY_CLOUD_NAME=dmhk0hksr
CLOUDINARY_API_KEY=758255983727837
CLOUDINARY_API_SECRET=K7d11nDDFnEEOifXJB7y8GzwrSk


